@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 29% 7%;
    --foreground: 0 0% 98%;

    --card: 210 29% 10%;
    --card-foreground: 0 0% 98%;

    --popover: 210 29% 10%;
    --popover-foreground: 0 0% 98%;

    --primary: 6 89% 64%;
    --primary-foreground: 210 29% 7%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 65%;

    --accent: 6 89% 64%;
    --accent-foreground: 210 29% 7%;

    --destructive: 6 89% 64%;
    --destructive-foreground: 210 29% 7%;

    --border: 210 29% 15%;
    --input: 210 29% 15%;
    --ring: 6 89% 64%;

    --radius: 0.8rem;

    --chart-1: 262 70% 66%; /* Lilac */
    --chart-2: 142 70% 50%; /* Green */
    --chart-3: 48 93% 54%;  /* Yellow */
    --chart-4: 8 89% 64%;   /* Orange */
    --chart-5: 211 92% 59%; /* Blue */
  }

  .dark {
    --background: 210 29% 7%;
    --foreground: 0 0% 98%;

    --card: 210 29% 10%;
    --card-foreground: 0 0% 98%;

    --popover: 210 29% 10%;
    --popover-foreground: 0 0% 98%;

    --primary: 6 89% 64%;
    --primary-foreground: 210 29% 7%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 65%;

    --accent: 6 89% 64%;
    --accent-foreground: 210 29% 7%;

    --destructive: 6 89% 64%;
    --destructive-foreground: 210 29% 7%;

    --border: 210 29% 15%;
    --input: 210 29% 15%;
    --ring: 6 89% 64%;

    --radius: 0.8rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
